{% extends "layout.html" %}

{% block button %}
    <a class="back-btn" href="{{ url_for('index') }}">
        <i class="fas fa-caret-left"></i>
        Back
    </a>
{% endblock %}

{% block content %}
    <section id="form">
        <form action="{{ url_for('edit_pet', id=pet.id) }}" method="POST">
            <div class="columns">
                <div class="col1">
                    <div class="form-container">
                        <label for="name">Recipe Title</label>
                        <input id="name" name="name" type="text" placeholder="Fuzzy Wuzzy" value="{{ pet.name }}">
                    </div>
                    <div class="form-container">
                        <label for="age">Recipe Ingredients</label>
                        <input id="age" name="age" type="text" placeholder="6 months" value="{{ pet.age }}">
                    </div>
                    <div class="form-container">
                        <label for="breed">Ingredients Name</label>
                        <input id="breed" name="breed" type="text" placeholder="American Shorthair" value="{{ pet.breed }}">
                    </div>
                    <div class="form-container">
                        <label for="url"><i class="fas fa-camera"></i> URL</label>
                        <input id="url" name="url" type="text" placeholder="Photo link" value="{{ pet.url }}">
                    </div>
                </div>
                <div class="col2">
                    <div class="form-container">
                        <label for="color">Recipe Cuisine</label>
                        <input id="color" name="color" type="text" placeholder="Margherita Pizza" value="{{ pet.color }}">
                    </div>
                    <div class="form-container">
                        <label for="size">Recipe Direction</label>
                        <input id="size" name="size" type="text" placeholder="Preheat oven to 450°F" value="{{ pet.size }}">
                    </div>
                    <div class="form-container">
                        <label for="weight">Recipe Information</label>
                        <input id="weight" name="weight" type="text" placeholder="1 1/2 cups warm water" value="{{ pet.weight }}">
                    </div>
                    <div class="form-container">
                        <label for="alt">Image Alt Text</label>
                        <input id="alt" name="alt" type="text" placeholder="This photo is..." value="{{ pet.url_tag }}">
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="col1">
                    <fieldset>
                        <div>
                            <legend>Recipe Favorite</legend>
                            <input id="dog" type="radio" name="pet" value="Dog" {% if pet.pet_type =='Dog'%}  checked{% endif %}>
                            <i class="fas fa-check-circle"></i>
                            <label for="dog">Bad</label>
                            <input id="cat" type="radio" name="pet" value="Cat" {% if pet.pet_type =='Cat'%}  checked{% endif %}>
                            <i class="fas fa-check-circle"></i>
                            <label for="cat">Satisfactory</label>
                            <input id="other" type="radio" name="pet" value="Other" {% if pet.pet_type =='Other'%}checked{% endif %}>
                            <i class="fas fa-check-circle"></i>
                            <label for="other">Great</label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div>
                            <legend>Recipe Weight Conversion</legend>
                            <input id="female" type="radio" name="gender" value="Imperial" {% if pet.gender =='Imperial'%}  checked{% endif %}>
                            <i class="fas fa-check-circle"></i>
                            <label for="female">Imperial</label>
                            <input id="male" type="radio" name="gender" value="Metric" {% if pet.gender =='Metric'%}  checked{% endif %}>
                            <i class="fas fa-check-circle"></i>
                            <label for="male">Metric</label>
                        </div>
                    </fieldset>
                </div>
                <div class="col2">
                    <fieldset>
                        <div>
                            <legend>Health Score</legend>
                            <input id="true" type="radio" name="spay" value="Low Risk" {% if pet.spay =='Low Risk'%}  checked{% endif %}>
                            <i class="fas fa-check-circle"></i>
                            <label for="true">Low Risk</label>
                            <input id="false" type="radio" name="spay" value="Medium Risk" {% if pet.spay =='Medium Risk'%}  checked{% endif %}>
                            <i class="fas fa-check-circle"></i>
                            <label for="false">Medium Risk</label>
                            <input id="na" type="radio" name="spay" value="High Risk" {% if pet.spay =='High Risk'%}  checked{% endif %}>
                            <i class="fas fa-check-circle"></i>
                            <label for="na">High Risk</label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div>
                            <legend>Skill Level</legend>
                            <input id="yes" type="radio" name="housetrained" value="Beginner" {% if pet.house_trained =='Beginner'%}  checked{% endif %}>
                            <i class="fas fa-check-circle"></i>
                            <label for="yes">Beginner</label>
                            <input id="no" type="radio" name="housetrained" value="Intermediate" {% if pet.house_trained =='Intermediate'%}  checked{% endif %}>
                            <i class="fas fa-check-circle"></i>
                            <label for="no">Intermediate</label>
                            <input id="unkown" type="radio" name="housetrained" value="Advanced" {% if pet.house_trained =='Advanced'%}  checked{% endif %}>
                            <i class="fas fa-check-circle"></i>
                            <label for="unkown">Advanced</label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <fieldset id="descr">
                <div>
                    <legend>Review</legend>
                    <label for="description" style="display: none;">Description</label>
                    <textarea name="description" id="description" cols="30" rows="10" placeholder="This pet is...">{{ pet.description }}</textarea>
                </div>
            </fieldset>
            <div id="form-buttons">
                <button type="reset">Cancel</button>
                <button type="submit">Submit</button>
            </div>
        </form>
    </section>
    <script src="/static/js/app.js"></script>
{% endblock %}