{% extends "layout.html" %}

{% block button %}
<a class="add-pet-btn" href="{{ url_for('add_pet') }}" alt="Add Pet">
    <i class="fas fa-plus"></i>
    Recipe
</a>
{% endblock %}

{% block content %}
<section id="pet-cards">
    {% for pet in pets %}
    <a href="{{ url_for('pet', id=pet.id) }}">
            <div class="card">
                <img src="{{ pet.url }}" alt="{{ pet.alt }}">
                <h2>{{ pet.name }}</h2>
                <h3>{{ pet.age }}</h3>
                <p>{{ pet.description }}</p>
            </div>
        </a>
    {% endfor %}   
</section>
{% endblock %}
