{% extends "layout.html" %}

{% block button %}
    <a class="add-pet-btn" href="{{ url_for('add_pet') }}" alt="Add Pet">
        <i class="fas fa-plus"></i>
        Recipe
    </a>
    {% endblock %}

    {% block content %}
    <section id="pet-data">
        <img src="{{ pet.url }}" alt="{{ pet.url_tag }}">
        <div id="pet-name">
            <h2>Recipe Title</h2>
            <p>{{ pet.name }}</p>
        </div>
        <div id="left-col">
            <div>
                <h2>Recipe Ingredients</h2>
                <p>{{ pet.age }}</p>
            </div>
            <div>
                <h2>Ingredients Name</h2>
                <p>{{ pet.breed }}</p>
            </div>
            <div>
                <h2>Recipe Cuisine</h2>
                <p>{{ pet.color }}</p>
            </div>
            <div>
                <h2>Recipe Direction</h2>
                <p>{{ pet.size }}</p>
            </div>
        </div>
        <div id="right-col">
            <div>
                <h2>Recipe Information</h2>
                <p>{{ pet.weight }}</p>
            </div>
            <div>
                <h2>Recipe Weight Conversion</h2>
                <p>{{ pet.gender }}</p>
            </div>
            <div>
                <h2>Health Score</h2>
                <p>{{ pet.spay }}</p>
            </div>
            <div>
                <h2>Skill Level</h2>
                <p>{{ pet.house_trained }}</p>
            </div>
        </div>
        <div id="description">
            <h2>Review</h2>
            <p>{{ pet.description }}</p>
        </div>
    </section>
    <section id="edit-delete">
        <a href="{{url_for('edit_pet', id=pet.id)}}"><i class="far fa-edit"></i>Edit</a>
        <a href="{{url_for('delete_pet', id=pet.id)}}"><i class="far fa-trash-alt"></i>Delete</a>
    </section>
    {% endblock %}